#intro {
    position: relative;
    z-index: 1;
}

#intro:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://github.com/thenftdoctor/thenftdoctor.com/blob/main/images/degeneratesociety%232.jpg?raw=true")no-repeat center center fixed;
    opacity:0.3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#brand{
  font-size:75px;
  color:black;
  font-family: 'Permanent Marker', cursive;
  font-weight: 900;
  padding-bottom:20px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#timer {
    font-size: 2.0em;
    font-weight: 100;
    color: white;
    /*padding: 20px;
    width: 700px;*/
    color: black;
    font-family: 'Permanent Marker', cursive;
}

#timer div {
    display: inline-block;
    min-width: 95px;
    /*padding: 15px;
    border-radius: 10px;
    margin: 15px;*/
}

#timer div span {
    color: #ffffff;
    display: block;
    /*margin-top: 15px;*/
    font-size: .35em;
    font-weight: 400;
    color: black;
}

.break {
  flex-basis: 100%;
  height: 0;
}
